<div class="col-md-6">
<h1>Events#edit</h1>
<p>Find me in app/views/events/edit.html.erb</p>
<form action='/events/<%= @event.id %>' method='post'>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type='hidden' name="_method" value="patch">
  <label>Speaker Name</label>
  <input type='text' name='event[speaker]' value='<%= @event.speaker %>' placeholder='name' class='form-control'>

  <label>Title</label>
  <input type='text' name='event[title]' value='<%= @event.title %>' placeholder='title' class='form-control'>
  
  <label>Summary</label>
  <input type='text' name='event[content]' value='<%= @event.content %>' placeholder='content' class='form-control'>
 
  <label>Event Date</label>
  <input type='datetime' name='event[date]' value='<%= @event.date.strftime("%m/%d/%Y") %>' placeholder='datetime' class='form-control'>
  <div class="form-group">
  <label>Event Location</label>
  <select name='event[branch_id]' class='form-control'>
    <% @branches.each do |branch| %>
    <option value='<%= branch.id %>'><%= branch.name %></li>
    <% end %>
  </select>
  </div>
  <div class="form-group">
  <label>Avatar: </label>
  <%= image_tag @event.avatar.url %>
  </div>
  <input type='submit' value='Update' />
</form>
</div>